<template lang="pug">
    .h-screen.bg-gray-200.flex.flex-col.items-center
        p.text-6xl.text-orange-700.m-8 THINK
        p {{ playerScores }}
    
</template>

<script>
export default {
    name: 'think',
    components: {
        
    },
    props: {
        players: Array
    },
    data: () => {
        return {
            playerScores: []
        }
    },
    mounted: function() {
        // this is probably not very javascript-like but whatever
        for (let i = 0; i < this.players.length; i++) {
            let newPlayer = {...this.players[i], score: 0}
            this.playerScores.push(newPlayer)
        }
    }
}
</script>