<template lang="pug">
  .h-screen.bg-gray-200.flex.flex-col.items-center
    #top
      p.text-6xl.text-orange-700.m-8 Pick the Preposition
    #middle.border-2.border-gray-800.bg-gray-300.flex-1.flex.items-start.overflow-y-hidden
      PlayerList.self-stretch.bg-orange-100.border.border-gray-800.overflow-y-auto(v-bind:players="this.players")
      NameInput(@addPlayer="addPlayer")
    button.m-8.bg-blue-600.p-3.rounded.text-white(@click="start") START GAME
</template>

<script>
// @ is an alias to /src
import PlayerList from '../components/Home/PlayerList.vue'
import NameInput from '../components/Home/NameInput.vue'

export default {
  name: 'home',
  data: () => {
    return {
      players: [],
      lastId: 0
    }
  },
  components: {
    PlayerList,
    NameInput
  },
  methods: {
    addPlayer(name) {
      if (name !== "") {
        this.players.push({ name, id: this.lastId })
        this.lastId++
      }
    },
    start() {
      let players = this.players
      this.$router.replace({name:'think', params:{players}})
    }
  }
}
</script>