<template lang="pug">
    form.flex.items-stretch.m-8(@submit.prevent="onSubmit")
        input(type="text" v-model="name" placeholder="Enter your name")
        button.bg-blue-300.p-3.rounded-r-lg Submit
</template>

<script>
export default {
    name: "NameInput",
    data() {
        return {
            name: ''
        }
    },
    methods: {
        onSubmit() {
            if (this.name.length > 20) {
                alert('Pick a shorter name!!')
            } else {
                this.$emit('addPlayer', this.name)
            }
            this.name = ''
        }
    }
}
</script>