<template lang="pug">
    #player_list.m-8.w-64
        p.text-4xl.font-medium Players:
        p.text-xl.text-gray-700.list-disc(v-for="player in players" :key="player.id") - {{ player.name }}
</template>

<script>
export default {
    name: "PlayerList",
    props: {
        players: Array
    }
}
</script>